# ==== Backend (NestJS) ====
DATABASE_URL="postgresql://postgres.xxxxxxxxxx:VOTRE_MOT_DE_PASSE@aws-0-eu-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.xxxxxxxxxx:VOTRE_MOT_DE_PASSE@aws-0-eu-west-2.pooler.supabase.com:5432/postgres"
JWT_SECRET="remplacez-moi-par-une-valeur-longue-et-aleatoire"
JWT_EXPIRES_IN="8h"
PORT=3000
CORS_ORIGIN="http://127.0.0.1:8080"

# ==== Frontend (Vite) ====
VITE_API_URL="http://localhost:3000/api"
VITE_SOCKET_URL="http://localhost:3000/events"